.card{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 07%;
    border-radius: 5px;
}

.card:hover{
    box-shadow:20px 20px 50px 10px lightgray;
}
.btns{
    float: right;
    margin-right: 20px;
}